<layout-use template="../layout.marko" page-id="${data.pageId}">
    <layout-put into="head">
        <link href="/css/home.css">
        <title>${data.pageTitle}</title>
    </layout-put>
    <layout-put into="content">
        <for each="part in data.parts">
            <include template="${part.template}" data="${part.data}"/>
        </for>
    </layout-put>
    <layout-put into="scripts">
        <script src="/js/home.js"></script>
    </layout-put>
</layout-use>
