<nav>
    <ul>
        <a href="/" class="bland-link"><li>Home</li></a>
        <a href="/posts" class="bland-link"><li>Posts</li></a>
        <a href="/projects" class="bland-link"><li>Projects</li></a>
        <a href="/resume" class="bland-link"><li>Resume</li></a>
    </ul>
</nav>
