<layout-use template="../home-card.marko" model="${data.model}">
    <layout-put into="card-body">
        <h4>${data.model.text}</h4>
        <p class="home-card__date">${data.model.date}</p>
    </layout-put>
</layout-use>
