<layout-use template="../home-part.marko" model="${data.model}">
    <layout-put into="card-body">
        <h4>${data.model.text}</h4>
        <p>${data.model.date}</p>
    </layout-put>
</layout-use>
