<div class="home-card ${data.model.class}">
    <a href="${data.model.url}" class="bland-link" body-only-if="!data.model.url">
        <div class="home-card__inner">
            <layout-placeholder name="card-body" />
        </div>
    </a>
</div>
