<layout-use template="../common/layout.marko" page-id="resume" page-title="resume">
    <layout-put into="head">
        <link href="/css/resume/page.css" rel="stylesheet">
        <title>Resume | jackhorton.io</title>
    </layout-put>
    <layout-put into="content">
        <h1>hi</hi>
    </layout-put>
    <layout-put into="scripts">
        <script src="/js/resume/page.js"></script>
    </layout-put>
</layout-use>
