<!DOCTYPE html>
<html>
<head>
    <script src="https://use.fonticons.com/2643743e.js"></script>
    <script src="//use.typekit.net/zxf1tyd.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" rel="stylesheet" />
    <link href="/css/common.css" rel="stylesheet" />
    <layout-placeholder name="head" />
</head>
<body>
    <div id="${data.pageId}" class="container">
        <include template="../components/header/header.marko" header="${data.header}" />
        <include template="../components/sidebar/sidebar.marko" selected="${data.pageId}"/>
        <main>
            <layout-placeholder name="content" />
        </main>
        <include template="../components/footer/footer.marko" />
        <script src="/js/common.js"></script>
        <layout-placeholder name="scripts" />
    </div>
</body>
</html>
