doctype html

html
    head
        block head
            link(href='/css/common.css')
    body
        div(id="#{pageId}")
            include ../components/header/header.jade
            include ../components/sidebar/sidebar.jade
            main
                block main
            include ../components/footer/footer.jade
        block foot
            script(src='/js/common.js')
